.home-page > .body-content {
    position: absolute;
    top: 25%;
    z-index: 1;
    color: white;
  }
  .home-content {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
  }
  .home-content:hover {
    display: inline-block;
    animation: rubberBand 1s 1s;
    animation-fill-mode: forwards;
    color: blue;
    animation-delay: 0ms;
  }
  .btn-resume {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(57, 110, 184);
    border: none;
    cursor: pointer;
  }
  .btn-resume > a {
    text-decoration: none;
    color: white;
  }
  
  