.home-page > .body-content {
    position: absolute;
    top: 25%;
    z-index: 1;
    color: white;
  }
  .home-content {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
  }
  .home-content:hover {
    display: inline-block;
    animation: rubberBand 1s 1s;
    animation-fill-mode: forwards;
    color: blue;
    animation-delay: 0ms;
  }
  .btn-resume {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(57, 110, 184);
    border: none;
    cursor: pointer;
  }
  .btn-resume > a {
    text-decoration: none;
    color: white;
  }
  
  @media only screen and (min-width: 325px) and (max-width: 450px) {
    .home-page > .body-content > h1 {
      font-size: 34px;
  
      width: 80vw;
      margin-top: 25px;
    }
  
    .home-page > .body-content {
      left: 2%;
      color: rgb(206, 248, 235);
  
      width: fit-content;
      margin-left: 8%;
      margin-top: 36px;
    }
    
    a {
      background-color: inherit;
    }
    .home-page {
      width: 90vw;
      left: 2%;
    }
  }