* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color:rgb(0, 180, 245);
   /* rgb(100, 90, 140); */
}

.App {
  text-align: center;
}

.active {
  color: rgb(244, 248, 2);
}

.nav-bar {
  position: fixed;
  width: 100%;
  right: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  background-color: rgb(86, 81, 119);
}

.nav-items,
.nav-list {
  display: flex;
  gap: 2rem;
  font-size: 15px;
  font-weight: 20px;
  color: whitesmoke;
}
.nav-list {
  cursor: pointer;
  flex-direction: column;
}

.bx {
  display: none;
}

